body :not(.skills){
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    border:2.5px rgba(185, 120, 120, 0.539) dotted;
}
.intro{
    background: rgba(101, 212, 140, 0.34)
     border:2.5px grey dotted;
     text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{

    text-align: center;

}
a{
    target="_blank"
}

